<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-smartlook"
    version="1.0.0">

    <name>Cordova Smartlook Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords>cordova,smartlook,plugin</keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.6.0"></engine>
    </engines>

    <js-module src="www/smartlook.js" name="smartlook">
      <clobbers target="smartlook" />
    </js-module>

    <!-- android -->
    <platform name="android">
      <source-file src="src/android/com/smartlook/SmartlookPlugin.java" target-dir="src/com/smartlook" />

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SmartlookPlugin">
          <param name="android-package" value="com.smartlook.SmartlookPlugin" />
        </feature>
      </config-file>

      <framework src="com.smartlook.recording:app:0.9.0.2.5.7-beta"/>

    </platform>
</plugin>